@import url('https://fonts.cdnfonts.com/css/poiret-one');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poiret One', sans-serif;
    background-color: aqua;

}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgreen;
    padding: 15px 20px;
    margin: 0px;
}
.logo img{
    width: 100px;
    margin: 10px 30px;
    cursor: pointer;
}
.search-box{
    display: flex;
    flex: 1;
    margin: 0px 20px;
}
.search-box input{
    display: flex;
    flex: 1;
    border: none;
    border-radius: 5px 0px 0px 5px;
}
.search-box button{
    padding: 5px 10px;
    border-radius: 0px 5px 5px 0px;
    background-color:orangered ;
    color: black;
    cursor: pointer;
}
.search-box button:hover{
    background-color: darkblue;
}
.nav-links a{
   text-decoration: none;
   color: white;
   margin-left: 20px; 
}
.nav-links a:hover{
    text-decoration: underline;
}
.nav-icon q{
    margin-left: 10px;
}
.nav-icon img{
    width: 30px;
    margin-left: 20px;
}
.hero-section img{
    width: 100%;
    margin-top: 20px;
    border-radius: 15px;
}